/************************************
******  RESET + BASE STYLING  *******
************************************/

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

a {
    color: seashell;
    text-decoration: underline;
}

h2 {
    margin: 12px 0 12px 0;
}

h3 {
    margin: 12px 0 12px 0;
}

h4 {
    margin: 12px 0 12px 0;
}

address {
    font-style: normal;
}

.shop a {
    font-style: normal;
    text-decoration: none
}

/************************************
******  HEADER  *********************
************************************/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: black;
    height: 69px;
}

h1 img {
    font-family: Georgia, serif;
    font-size: 36px;
    height: 50px;
}

h1 {
    height: 50px;
}

nav {
    min-width: 400px;
}

nav span {
    display: inline;
    padding: 0 15px;
}

/************************************
******  MISSION  ********************
************************************/

#hero {
    display: flex;
    justify-content: center;
    /*    width: 1200px; */
    margin: 0 auto;
}

#hero .background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/img-mission-background.jpg);
    background-size: cover;
    margin-top: 70px;
    flex-basis: 1200px;
    height: 700px
}

.hero_text {
    max-width: 1200px;
    flex-basis: 1200px;
    background-color: black;
    align-items: center;
}

/************************************
******  TEA / MONTH  ****************
************************************/

#month {
    width: 1000px;
    height: 750px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tea_head {
    margin-bottom: 10px
}

.tea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

.container {
    margin: 0 15px 15px 15px
}

.container img {
    width: 300px;
    height: 200px;
}

/************************************
******  LOCATION  *******************
************************************/

#location {
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 0 auto
}

.background_location {
    background-image: url(../images/img-locations-background.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 200px;
    height: 500px;
    width: 1200px;
}

.shops {
    display: flex;

}

.shop {
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 15px 20px;
    padding: 15px 0px;
    width: 300px;
    opacity: 1;
}

#location h3 {
    margin-bottom: 25px 0;
}

#location span {
    display: block;
    margin: 0 0 30px 0;
}

/************************************
******  FOOTER  *********************
************************************/

footer {
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
    justify-content: center;
    height: 200px;
}

.contact h2 {
    margin-bottom: 30px;
}

.contact h5 {
    margin: 25px;
}

.copyright {
    text-align: left;
}

h5 a {
    text-decoration: none
}
